name: Java CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    strategy:
      matrix:
        os: [ubuntu-20.04, ubuntu-22.04, ubuntu-24.04] 
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 23
      uses: actions/setup-java@v4
      with:
        java-version: '23'
        distribution: 'temurin'

    - name: Cache JDK
      if: success() || failure()
      uses: actions/cache@v4
      with:
        path: ${{ env.JAVA_HOME_23_X64 }}
        key: ${{ matrix.os }}-jdk-23
        restore-keys: ${{ matrix.os }}-jdk

    - name: Cache local repository
      if: success() || failure()
      uses: actions/cache@v4
      with:
        path: ~/.cache/objectos
        key: ${{ matrix.os }}-objectos-${{ hashFiles('Makefile', 'make/*.mk') }}
        restore-keys: ${{ matrix.os }}-objectos-

    - name: Build it
      run: make

    - name: Archive test results
      if: success() || failure()
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.os }}-test-results
        path: work/test-output

    - name: Deploy snapshots to OSSRH
      run: make ossrh-snapshots
